<!DOCTYPE html>
<html>
<head>
  <title>Entertainment Booking Form</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div class="testbox">
  <form (submit)="extract()">
    <div class="banner">
      <h1>Language Detection</h1>
    </div>
    <div class="item">
      <p>Text</p>
      <textarea [(ngModel)]="text" rows="5" name="text" ></textarea>
    </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="abstractCheck"
          [checked]="clean"
          (change)="clean = !clean"/>
        <label class="form-check-label" for="abstractCheck">Clean</label>
      </div>
    <div class="btn-block">
      <button type="submit">SEND</button>
    </div>
  </form>
</div>

<div>
  <div *ngFor="let languages of detectedLanguages; let i = index;" class="mb-2">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-9 ">
          <div class="card-body ">
            <h5 class="card-title">{{ i+1 }}. {{ languages.lang }}</h5>
            <p class="card-text"> {{ languages.confidence }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
